.button_base{
    cursor: pointer;
    color: #fff;
    padding: 0.5rem 0.75rem;
    border: none;
    border-radius: 1rem;
    box-shadow: 0 1px 2px #333;
}

.button_primary{
    background-color: #49B265;
}

.button_secondary{
    background-color: #df4e4e;
}