.page_container {
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.page_container main{
    min-height: calc(100vh - 8rem);
    padding: 1rem 2rem;
}
.page_container.no_header main, .page_container.no_footer main{
    min-height: calc(100vh - 4rem);
}
.page_container.no_header.no_footer main{
    min-height: 100vh;
}

.page_header, .page_footer{
    height: 4rem;
    background-color: #49B265;
}

.page_header{
    padding: 0 .2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.25);
}

@media (min-width: 768px) {
    .page_header {
        padding: 0 2rem;
    }
}