
body {
    margin: 0;
   
  }
  h2 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
  }
  h2 {
    font-size: calc(1.375rem + 1.5vw);
  }
  
.inputTitle {
  margin: 2rem auto;
  width: 40vw;
}

.inputDescription{
  margin: 2rem auto;
  width: 40vw;
}

::placeholder{
  text-align: center;
}

.buttonPost {
  display: flex;
  align-items: center;
  margin-top: 25px;
  justify-content: flex-end;
}


  @media (min-width: 1200px) {
    h2 {
      font-size: 2.5rem;
    }
  }
  p {
    margin-top: 0;
    margin-bottom: 1rem;
  }
  
  .container {
    width: 100%;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin-right: auto;
    margin-left: auto;
  }
  @media (min-width: 576px) {
    .container {
      max-width: 540px;
    }
  }
  @media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
  }
  @media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
  }
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px;
    }
  }
  @media (min-width: 1400px) {
    .container {
      max-width: 1320px;
    }
  }
  .row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) * -0.5);
    margin-left: calc(var(--bs-gutter-x) * -0.5);
  }
  .row > * {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-top: var(--bs-gutter-y);
  }
  .col {
    flex: 1 0 0%;
  }
  @media (min-width: 768px) {
    .col-md-3 {
      flex: 0 0 auto;
      width: 25%;
    }
    .col-md-8 {
      flex: 0 0 auto;
      width: 66.66666667%;
    }
  }
  
  