.page_header {
    z-index: 100;
}

.container_signup {
    position: relative;
    background-color: #fff;
    height: 91.4vh;
    overflow: hidden;
    margin: -1rem -2rem -1rem -2rem;
}

.forms-container_signup {
    position: absolute;
    width: 100%;
    height: calc(87vh);
    top: 0;
    left: 0;
}

.signup-form {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 75%;
    width: 50%;
    transition: 1s 0.7s ease-in-out;
    display: grid;
    grid-template-columns: 1fr;
    z-index: 5;
}

.container_signup form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0rem 5rem;
    transition: all 0.2s 0.7s;
    overflow: hidden;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

form.sign-in-form {
    z-index: 2;
}

.title_signup {
    font-size: 2.2rem;
    color: #444;
    margin-bottom: 10px;
}

.input-field_signup {
    max-width: 380px;
    width: 100%;
    background-color: #f0f0f0;
    margin: 10px 0;
    height: 55px;
    border-radius: 55px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 0.4rem;
    position: relative;
}

.input-field_signup i {
    text-align: center;
    line-height: 55px;
    color: #acacac;
    transition: 0.5s;
    font-size: 1.1rem;
}

.input-field_signup input {
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    font-size: 1.1rem;
    color: #333;
}

.input-field_signup input::placeholder {
    color: #aaa;
    font-weight: 500;
}

.buttons_signup {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.btn_signup {
    width: 150px;
    height: 49px;
    border-radius: 49px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 10px;
    cursor: pointer;
    transition: 0.5s;
}

.btn_caption_signup {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.btn2_signup {
    background-color: #FFCC4D;
}

.info_signup {
    font-size: 0.8rem;
}

.btn_signup:hover {
    background-color: #4d84e2;
}

.panels-container_signup {
    position: absolute;
    height: calc(87vh);
    width: 100%;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.container_signup:before {
    content: "";
    position: absolute;
    height: 2000px;
    width: 2000px;
    top: -10%;
    right: 48%;
    transform: translateY(-50%);
    background-image: linear-gradient(-45deg, #49B265 0%, #49B265 100%);
    transition: 1.8s ease-in-out;
    border-radius: 50%;
    z-index: 6;
}

.image_signup {
    width: 80%;
    transition: transform 1.1s ease-in-out;
    transition-delay: 0.4s;
}

.panel_signup {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    z-index: 6;
}

.left-panel_signup {
    pointer-events: all;
    padding: 2rem 17% 2rem 12%;
}

.right-panel_signup {
    pointer-events: none;
    padding: 3rem 12% 2rem 17%;
}

.panel_signup .content_signup {
    color: #fff;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.6s;
}

.panel_signup h3 {
    font-weight: 600;
    line-height: 1;
    font-size: 1.5rem;
}

.panel_signup p {
    font-size: 0.95rem;
    padding: 0.7rem 0;
}

.right-panel_signup .image_signup,
.right-panel_signup .content_signup {
    transform: translateX(800px);
}

@media (max-width: 870px) {
    .container_signup {
        min-height: 800px;
        height: 91.4vh;
    }
    .signup-form {
        width: 100%;
        top: 95%;
        transform: translate(-50%, -75%);
        transition: 1s 0.8s ease-in-out;
    }
    .signup-form {
        left: 50%;
    }
    .panels-container_signup {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr 1fr;
    }
    .panel_signup {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 2.5rem 8%;
        grid-column: 1 / 2;
    }
    .right-panel_signup {
        grid-row: 3 / 4;
    }
    .left-panel_signup {
        grid-row: 1 / 2;
    }
    .image_signup {
        width: 200px;
        transition: transform 0.9s ease-in-out;
        transition-delay: 0.6s;
    }
    .panel_signup .content_signup {
        padding-right: 15%;
        transition: transform 0.9s ease-in-out;
        transition-delay: 0.8s;
    }
    .panel_signup h3 {
        font-size: 1.2rem;
    }
    .panel_signup p {
        font-size: 0.7rem;
        padding: 0.5rem 0;
    }
    .container_signup:before {
        width: 1500px;
        height: 1500px;
        transform: translateX(-50%);
        left: 30%;
        bottom: 72%;
        right: initial;
        top: initial;
        transition: 2s ease-in-out;
    }
    .right-panel_signup .image_signup,
    .right-panel_signup .content_signup {
        transform: translateY(300px);
    }
}

@media (max-width: 570px) {
    .container_signup form {
        padding: 0 1.5rem;
    }
    .image_signup {
        display: none;
    }
    .panel_signup .content_signup {
        padding: 0.5rem 1rem;
    }
    .container_signup {
        min-height: 680px;
        padding: 1.5rem;
    }
    .container_signup:before {
        bottom: 80%;
        left: 50%;
    }
    .signup-form {
        transform: translate(-50%, -90%);
    }
}